/* booking-sidenav/booking-sidenav.component.scss */
.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px;
  background-color: #f5f5f5;
}

mat-nav-list {
  padding-top: 0;
}

mat-list-item {
  cursor: pointer;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
  
  mat-icon {
    margin-right: 10px;
  }
}

.create-booking-btn {
  background-color: #1976d2;
  color: white !important;
  
  &:hover {
    background-color: #1565c0 !important;
  }
  
  mat-icon {
    color: white;
  }
}

mat-divider {
  margin: 10px 0;
}

mat-subheader {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}